<h1>Menu Item detail</h1>

<%= link_to("all items" , menu_items_path) %>

<p>Item name: <%= @menu_item.item_name %></p>
<p>Item description: <%= @menu_item.item_description %></p>
<p>Item price: <%= @menu_item.item_price %></p>
<p>Vendor id: <%= @menu_item.vendor_id %></p>
