<h1>Users#edit</h1>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password_digest %>
  <%= f.text_field :password_digest %>
  <%= f.label :role %>
  <%= f.text_field :role %>
  <%= f.submit %>
<% end %>