<a href="/admin"> <<- Back to Admin Panel</a><br>
<br>

<h1>All Users</h1>
<p><%= link_to("new user", new_user_path) %></p>

<table class = "table table-bordered table-hover table-condensed">
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Manage</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td>
      <%= link_to("edit", edit_user_path(user) ) %>
      <%= link_to("delete", user, :method => :delete, :confirm => 'Are you sure?' ) %>
    </td>
  </tr>
  <% end %>
</table>