<h1>All Users</h1>
<p><%= link_to("new user", new_user_path) %></p>

<table>
  <th>
    <td>User Name</td>
    <td>Email</td>
    <td>Role</td>
    <td>Manage</td>
  </th>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td>
      <%= link_to("edit", edit_user_path(user) ) %>
      <%= link_to("delete", user, :method => :delete, :confirm => 'Are you sure?' ) %>
    </td>
  </tr>
  <% end %>

</table>