<h1>Users#new</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :email %>
  <%= f.text_field :email %> <br>
<!-- figure out how to set the actual password -->
  <%= f.label :password_digest %>
  <%= f.text_field :password_digest %> <br>
<!-- figure out how to make this a choice of various roles rather than a string -->
  <%= f.label :role %>
  <%= f.text_field :role %> <br>
  <%= f.submit %>
<% end %>