<h1>Edit order#: <%= @order.id %></h1>
<%= form_for @order do |f| %>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %> <br>
  <%= f.label :customer_confirmed %>
  <%= f.text_field :customer_confirmed %><br>
  <%= f.label :vendor_confirmed %>
  <%= f.text_field :vendor_confirmed %><br>
  <%= f.submit %>
<% end %>
<br>
<%= link_to("all orders", orders_path) %>