<a href="/admin"> <<- Back to Admin Panel</a><br>
<br>

<h1>All Orders</h1>
<p><%= link_to("new order", new_order_path) %></p>

<table class = "table table-bordered table-hover table-condensed">
  <tr>
    <th>User id</th>
    <th>Time Created</th>
    <th>User Confirmed</th>
    <th>Vendor Confirmed</th>
    <th>Manage</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%= order.user_id %></td>
    <td><%= order.created_at.to_time.in_time_zone('Pacific Time (US & Canada)') %></td>
    <td><%= order.customer_confirmed %></td>
    <td><%= order.vendor_confirmed %></td>
    <td>
      <%= link_to("detail", order_path(order)) %>
      <%= link_to("edit", edit_order_path(order)) %>
      <%= link_to("delete", order, :method => :delete, :confirm => "Are you sure?") %>
    </td>
  </tr>
  <% end %>
</table>