<!DOCTYPE html>
<html>
<head>
  <title>TrackSnack</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <%= csrf_meta_tags %>
  

<!-- Google maps -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 75%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
    -->

    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;

function initialize() {
  var mapOptions = {
    zoom: 14
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'You'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }

  var arrayLength = gon.vendors.length;
  for (var i = 0; i < arrayLength; i++) {
    var vendor_location = new google.maps.LatLng(gon.vendors[i].latitude, gon.vendors[i].longitude);
    var marker = new google.maps.Marker({
      position: vendor_location,
      map: map,
      title: '' + gon.vendors[i].name
    });
  }
}



function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

$(window).on('load page:load', initialize);
//google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<!-- Google maps -->

</head>
<body>

<!-- TODO nav bar on small screen is unaccesible -->
<!-- http://getbootstrap.com/components/#navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('TrackSnack', root_path, class: "navbar-brand") %>
    </div>

<!-- TODO: The navBar shows either MyProfile / Signout icon || or || Sign-up / sign-in icon -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/how_to_use">How to use</a></li>
        <li><a href="/contacts">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to "My profile", current_user %></li>
          <li><a href='/signout'><span class="glyphicon glyphicon-log-out"></span></a></li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><a href='/signin'><span class="glyphicon glyphicon-log-in"></span></a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%flash.each do|key,value|%>
                <div class="alert alert-<%=key%>"> <%=value%> </div>
        <%end%>
      </div>
    </div>
</div>

<%= yield %>

</body>
</html>
